// Specific CSS for your home-page
.homepage{
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1678289449/petuxedo/Sans_titre_-_2023-03-08T115657.543_ohf1kl.png');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding: 40px;
}
.home-title{
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.home-title p{
  font-weight: bold;
  font-family: 'Nunito';
  align-self: flex-end;
  font-size: 24px;
}
.home-info{
  background-color: rgb(237, 237, 237);
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  height: 400px;
  align-self: flex-end;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1678557979/click%20n%20pole/bgcard_t1n9h3.png');
  // background-position: center;
  // background-size: cover;
}
.home-info h2{
  text-align: center;
  color: rgb(66, 28, 190);
}
a.homelink{
  text-decoration: none;
  background-color:rgb(66, 28, 190);
  border-radius: 20px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  color: rgb(237, 237, 237);
  // background-color: rgb(126, 220, 126);
}
a.homelink:hover{
  background-color:rgb(117, 83, 227) ;
  font-weight: bold;
}
.home-text{
  display: flex;
  flex-direction: column;
}
.down{
  display: flex;
  justify-content: space-between;
  // position: relative;
}
.homepage h1{
  font-size: 100px;
  color: rgb(66, 28, 190);
}

.promo{
  margin-top: 160px;

}
.promo h3{
  background-color: rgb(124, 213, 124);
  padding: 4px 8px;
  border-radius: 6px;
  margin-bottom: 0;
  color: rgb(66, 28, 190);
}
.promo h5{
  background-color:rgb(66, 28, 190);
  color: rgb(236, 236, 236);
  width: fit-content;
  border-radius: 6px;
  padding: 6px 0 6px 8px;
}
span.code{
  background-color: rgb(251, 77, 77);
  color: yellow;
  border-radius:  0 6px 6px 0;
  padding:5px 8px ;
}

// ____________________________________________
.home-info p{
  font-size: 18px;
}
