// Specific CSS for your home-page
.homepage{
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1680540021/petuxedo/PETUXEDO_1_jh0ezl.png');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding: 40px;
  position: relative;
}
.home-title{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 100px;
}
.home-title p{
  font-weight: bold;
  font-family: 'Nunito';
  align-self: flex-end;
  font-size: 24px;
}
.home-info{
  background-color: rgba(237, 237, 237, 0.86);
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  height: 420px;
  // align-self: flex-end;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1678557979/click%20n%20pole/bgcard_t1n9h3.png');
  // background-position: center;
  // background-size: cover;
}
//test commit
.home-info h2{
  text-align: center;
  color: rgb(66, 28, 190);
}
a.homelink{
  text-decoration: none;
  background-color:rgb(66, 28, 190);
  border-radius: 20px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  color: rgb(237, 237, 237);
  font-weight: bold;
  font-size: 19px;

}
  // background-color: rgb(126, 220, 126);
  //test

a.homelink:hover{
  background-color:rgb(117, 83, 227) ;
  font-weight: bold;
}
.home-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.down{
  display: flex;
  justify-content: space-between;
  margin: 50px 0 30px 40px;
  // position: relative;
}
.homepage h1{
  font-size: 100px;
  color: rgb(66, 28, 190);
}

// ____________________________________________
.home-info p{
  font-size: 16px;
}
.promo p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.promo span{
  background: #f8c44d;
  padding: 3px 4px;
  border-radius: 8px;
}
.promo span:hover{
  font-size: 19px;
}
.home-info h2{
  font-weight: bold;
}
.right-column{
  background-color: #323232;
  color: rgb(238, 238, 238);
  width: 22%;
  position: fixed;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;


}
.side-title{
  text-align: right;
}
.homebox{
  display: flex;
  justify-content: space-between;
}
.b {
  background-color: #fffbfb1a;
  border-radius: 10px;
  padding: 18px;
  margin: 6px 5px;
  display: flex;
  flex-direction: column;
}
.b small{
  align-self: flex-end;
}
.box1{
  margin-top: 20px;
}
.clients-avis{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.etc{
  align-self: flex-end;
  padding-right: 10px;
}
.social{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 18px;
}
.icons{
  align-self: center;
}
.icons i{
  font-size: 35px;
  padding: 10px;
  color: #6E74FF;
}
.icons i:hover{
  color: white;
}
.mail{
  align-self: center;
}
