.myspacepage{
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1678289449/petuxedo/catblue_y8s174.png');
  background-position: top right;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  position:relative;
}
.brand{
  position: fixed;
  bottom: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.23);
}
.Dashboard{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
}
.welcoming{
  display: flex;
  justify-content: space-between;
}

.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upcards{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card{
  background-color: rgba(255, 255, 255, 0.415);
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;

}
.home-gallery{
  margin-top: 20px;
}
.colomn{
  height: auto;
  min-height: 300px;
}
.colomn a{
  margin-top: auto ;
}
.search-tux{
  width: 50%;
}
.myorders{
  width: 50%;

}
.Dashboard h2{
  color: rgb(66, 28, 190);
  font-size: 26px;
  font-weight: bold;
}
.Dashboard a{
  text-decoration: none;
  background-color: rgb(98, 77, 216);
  border-radius: 6px;
  padding: 2px 8px;
  color: white;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}
.Dashboard a:hover{
  background-color: rgb(66, 28, 190);
}
.myspacepage p{
  font-weight: 400;
}
