<div class="aboutbox">
  <section class="about">
    <h1>About Us</h1>
    <br><br>
    <h3>Who are we ?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio commodi voluptates obcaecati aut? Voluptas officia esse in quia qui asperiores quam, quisquam sapiente eum! Id rem similique veritatis quaerat, nemo dolore sequi nobis laborum alias nulla deserunt voluptatem quos sit voluptate labore culpa autem itaque officiis placeat cupiditate ab eum.</p>

  </section>


</div>
