<div class="contactbox">
  <section class="contacttt">
    <h1>Contact us</h1>

    <p>PETUXEDO</p>
    <p>35, Happy Street</p>
    <p>13010 MARSEILLE</p>

    <p> 06012030405</p>
    <p>contact@petuxedo.com</p>
    <br><br><br>

    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-youtube"></i>
  </section>


</div>
