<div class="homepage">
  <div class="home-text">
    <div class="home-title">
      <h1>PETUXEDO</h1>
      <p>Make your companion the prettiest !</p>
    </div>
    <div class="home-p">
      <p>Get a tux for your pet !</p>
      <p>Take a look at our creations</p>
      <p>Contact us for a customized order !</p>

    </div>

  </div>
</div>
