<div class="homepage">
  <h1>PETUXEDO</h1>
  <p>Get a tux for your pet !</p>

  <p>Take a look at our creations</p>
  <p>Contact us for a customized order !</p>

  <p>Make your companion the prettiest !</p>

   <div class="last-creations">
    <h2>Our latest creations</h2>
      <div class="crea">
        <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1678289720/petuxedo/nobgtux_sbwidv.png" height="120px" width="200px"alt="">
        <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1678289720/petuxedo/nobgtux_sbwidv.png"  height="120px" width="200px"alt="">
        <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1678289720/petuxedo/nobgtux_sbwidv.png"  height="120px" width="200px"alt="">
        <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1678289720/petuxedo/nobgtux_sbwidv.png"  height="120px" width="200px"alt="">
      </div>
  </div>

</div>
